<div class="form-group col-md-12">
  <label for="fitler_<%= name %>" class="control-label">
    <%= label %>
  </label>
  <select ui-select2="{allowClear: true}" class="form-control input-sm select2" ng-model="filter.<%= name %>">
    <option></option>
    <% lookup.each do |e| %>
      <option value="<%= e.id %>"><%= e.name %></option>
    <% end %>
  </select>
</div>