<div id="page_header" class="clearfix content-header">
  <h3 class="pull-left"> 
    <i class="fa fa-clipboard"></i>
    Report :: <%= @report_title %>
  </h3>
</div>
<div class="view-container">
  <% if !@has_permission %>
    <%= render partial: 'reports/layouts/error_message' %>
  <% else %>
  <div class="row" ng-init="has_filters = <%= @filters.count > 0 %>">
    <div ng-class="{ 'col-md-9': <%= @filters.count %>, 'col-md-12': !<%= @filters.count %> }">
      <iframe ng-src="{{report_source}}" width="100%" height="1000px" style="border: 0px; padding-top: 5px;"></iframe>
    </div>
    <div class="col-md-3" ng-show="<%= @filters.count %>">
      <div class="panel panel-default ex-form" style="margin-top: 5px; margin-left: -20px">
        <div class="panel-heading">
          <h3 class="panel-title">Report Filters</h3>
        </div>
        <div class="panel-body">
          <% @filters.each do |key, cfg| %>
            <% _locals = { name: key.to_s, label: (cfg[:label] || cfg[:lookup].klass.name.split('::').last.titleize) } %>
            <% if cfg[:lookup] %>
              <% _locals[:lookup] = cfg[:lookup] %>
              <%= render partial: 'reports/layouts/filter_lookup', locals: _locals %>
            <% else %>
              <%= render partial: 'reports/layouts/filter_text', locals: _locals %>
            <% end %>
          <% end %>
        </div>
        <div class="panel-footer">
          <button class="btn btn-sm btn-primary" ng-click="generateReport()">
            <span class="fa fa-download"></span> Generate
          </button>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>