<div class="report-title"><%= "#{@report_title}" %></div>
<table width="100%" class="table table-condensed">
  <thead>
    <tr>
      <th width="35%">Name</th>
      <th width="25%">Account #</th>
      <th width="25%">Branch</th>
      <th width="15%" class="right">Amount</th>
    </tr>
  </thead>
  <% bank_total = 0 %>
  <% bank_total += 0 %>
    <tr>
      <td><%= 0 %></td>
      <td><%= 0 %></td>
      <td><%= 0 %></td>
      <td align="right"><%= number_to_currency(0, unit: '') %></td>
    </tr>
    <tr>
      <td><%= 0 %></td>
      <td><%= 0 %></td>
      <td><%= 0 %></td>
      <td align="right"><%= number_to_currency(0, unit: '') %></td>
    </tr>
  <tr>
    <td colspan="3"><b>Total</b></td>
    <td align="right"><b><%= number_to_currency(bank_total, unit: '') %></b></td>
  </tr>
</table>
