<div id="page_header" class="clearfix content-header">
  <h3 class="pull-left"> 
    <i class="glyphicon glyphicon-list"></i>
    {{ model.displays }}
  </h3>
  <div class="btn-group pull-right" ng-show="$state.current.name == 'app.index'">
    <a class="btn btn-sm btn-primary" ui-sref=".search">
      <span class="glyphicon glyphicon-search"></span>
    </a>
    <a class="btn btn-sm btn-primary" ng-click="search_on=!search_on" data-toggle="button" ng-hide="true">
      <span class="glyphicon glyphicon-search"></span>
    </a>
    <a class="btn btn-sm btn-success pull-right" ui-sref=".new">
      <span class="glyphicon glyphicon-plus"></span> New
    </a>
  </div>
</div>
<div class="view-container">
  <ui-view></ui-view>
  <div class="ex-grid" ng-show-="$state.current.name == 'app.index'">
    <div ng-show="totalRecords > 5">
      <pagination total-items="totalRecords" items-per-page="recordsPerPage" ng-model="currentPage" max-size="5" class="pagination-sm pull-right" boundary-links="true" rotate="false" num-pages="numPages" ng-change="queryRecords()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
      </pagination>
      <div class="col-md-2 pull-right- input-group input-group-sm select2-bootstrap-prepend" style="padding-left: 0px;">
        <span class="input-group-addon">
          Records per page:
        </span>
        <select ui-select2="{width: '100%'}"
          class="form-control input-sm select2"
          id="recordsPerPage"
          ng-model="recordsPerPage">
          <option ng-repeat="l in pageSizes" value="{{ l }}">
            {{ l }}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <panel ng-class="{ 'col-lg-9 col-md-9 left-box': search_on, 'col-lg-12 col-md-12': !search_on }">
        <table class="table table-bordered table-striped table-hover table-condensed">
          <thead>
            <tr>
              <th class='grid-action-1'></th>
              <% @model_class.tpl.grid_columns.each do |c| %>
                <th><%= c[:label] %></th>
              <% end %>
              <th class="grid-action-3">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="rec in records">
              <td>{{ (currentPage - 1) * recordsPerPage + $index + 1 }}.</td>
              <% @model_class.tpl.grid_columns.each do |c| %>
                <% if c[:lookup] %>
                  <td>{{ (lookups.<%= c[:lookup] %> | filterById:rec.<%= c[:name] %>).name }}</td>
                <% elsif ["date"].include? c[:type] %>
                  <td align="right">{{ rec.<%= c[:name] %> | date }}</td>
                <% elsif ["time"].include? c[:type] %>
                  <td align="right">{{ rec.<%= c[:name] %> | date:'shortTime' }}</td>
                <% elsif ["datetime", "date"].include? c[:type] %>
                  <td align="right">{{ rec.<%= c[:name] %> | date:'medium' }}</td>
                <% elsif ["boolean"].include? c[:type] %>
                  <td align="center"><input type="checkbox" disabled="disabled" ng-checked="{{ rec.<%= c[:name] %> }}"></td>
                <% elsif ["string"].include? c[:type] %>
                  <td align="left">{{ rec.<%= c[:name] %> }}</td>
                <% else %>
                  <td align="right">{{ rec.<%= c[:name] %> }}</td>
                <% end %>
              <% end %>
              <td>&nbsp;
                <a ui-sref=".show({id: rec.id})" title="View">
                  <i class="glyphicon glyphicon-check"></i>
                </a>&nbsp;
                <a ui-sref=".edit({id: rec.id})" title="Edit">
                  <i class="glyphicon glyphicon-pencil"></i>
                </a>&nbsp;
                <a href="" ng-click="delete(rec.id)" title="Delete">
                  <i class="glyphicon glyphicon-trash"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </panel>
      <div class="col-lg-3 right-box" ng-show="search_on">
        <ex-query ng-model="query" columns="columns" lookups="lookups">
        </ex-query>
      </div>
    </div>
    <div>
      <pager total-items="totalRecords" items-per-page="recordsPerPage" ng-model="currentPage" class="" ng-change="queryRecords()"></pager>
    </div>
  </div>
</div>
