<div class="report-title"><%= @report_title %></div>
<% net_pay = 0 %>
<% ssnit   = 0 %>
<% paye    = 0 %>
<% other_taxes = 0 %>
<% total   = net_pay + ssnit + paye + other_taxes %>
<table width="100%" class="table">
  <thead>
    <tr>
      <th width="5%">#</th>
      <th width="60%">Type</th>
      <th width="35%" class="right">Amount</th>
    </tr>
  </thead>
  <tr>
    <td>1</td>
    <td>Net Pay</td>
    <td align="right"><%= number_to_currency(net_pay, unit: '') %></td>
  </tr>
  <tr>
    <td>2</td>
    <td>SSNIT</td>
    <td align="right"><%= number_to_currency(ssnit, unit: '') %></td>
  </tr>
  <tr>
    <td>3</td>
    <td>PAYE</td>
    <td align="right"><%= number_to_currency(paye, unit: '') %></td>
  </tr>
  <% if other_taxes > 0 %>
    <tr>
      <td>4</td>
      <td>Other Taxes</td>
      <td align="right"><%= number_to_currency(other_taxes, unit: '') %></td>
    </tr>
  <% end %>
<tr>
  <td colspan="2"><b>Total</b></td>
  <td align="right"><b><%= number_to_currency(total, unit: '') %></b></td>
</tr>

</table>