<div class="report-title">Report [<%= @data.title %>]</div>
<table width="100%" class="table table-condensed">
  <thead>
    <tr>
      <th width="5%">#</th>
      <th width="45%">Name</th>
      <th width="35%">Email</th>
      <th width="15%" class="right">Status</th>
    </tr>
  </thead>
<% @data.users.each_with_index do |user, i| %>
  <tr>
    <td><%= i + 1 %></td>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td class="right"><%= user.locked_at ? 'Locked' : 'Active' %></td>
  </tr>
<% end %>
</table>