<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <% _app.list.each do |a| %>
      <li>
        <a href="/<%= a[:url] %>">
          <span class="<%= a[:icon] || 'fa fa-home' %>"></span>
          <%= a[:name] %>
        </a>
      </li>
    <% end %>
    <li ng-repeat="m in modules" ng-class='{ active: hasUrl("#/{{ m.url }}"), dropdown: m.dropdown }'>
      <a href="#/{{ m.url }}" ng-hide="m.dropdown">
        <span class="{{ m.icon || 'fa fa-briefcase' }}"></span>
        {{ m.text }}
      </a>
      <a class="dropdown-toggle" data-toggle="dropdown" ng-show="m.dropdown">
        <span class="glyphicon glyphicon-calendar"></span>
        {{ m.text }}<b class="caret"></b>
      </a>
      <ul class="dropdown-menu" ng-show="m.dropdown">
        <li ng-repeat="l in m.links">
          <a href="#/{{ m.url }}/{{ l.url }}">
            <span class="{{ l.icon || 'fa fa-briefcase' }}"></span>
            {{ l.text }}
          </a>
        </li>
      </ul>
    </li>
    <!-- <li class="visible-xs"><a>xs</a></li>
    <li class="visible-sm"><a>sm</a></li>
    <li class="visible-md"><a>md</a></li>
    <li class="visible-lg"><a>lg</a></li> -->
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown active">
      <a href="#" class="dropdown-toggle nav-h" data-toggle="dropdown">
        <i class="fa fa-user fa-lg"></i>
        <%= current_user.name %>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu dropdown-inverse">
        <li><a href="<%= edit_user_registration_path %>">My Account</a></li>
        <li class="divider"></li>
        <li>
          <a data-method="delete" href="/account/logout" rel="nofollow">Logout</a> 
        </li>
      </ul>
    </li>
  </ul>
</div>